@charset "UTF-8";
/* 이벤트 리스트 
--------------------------------*/
.event-container{
	width: 800px;
	margin: 20px;
	margin: 20px auto;
	font-family: 'Arial', sans-serif;
}

h2{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	border-bottom: 2px solid black;
	padding-bottom: 5px;
}

.event-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
}

.tab-list{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 25px;
}

.tab-list li {
    font-size: 15px;
    color: #333;
    cursor: pointer;
}

.tab-list .active {
	font-weight: bold;
	color: #e61a33;
}

.event-buttons{
	display:flex;
	gap:8px;
}
.btn {
	padding: 6px 10px;
	font-size: 13px;
	border-radius: 2px;
	cursor: pointer;
}

.btn-red {
	background-color: #e61a33;
	color: white;
	border: none;
}
.btn-red-one {
	background-color:white;
	color: #e61a33;
	border: 1px solid #e61a33;
}




