@charset "UTF-8";

/*왼쪽 메뉴 바*/
#main_nav {
	width: 240px;
	background-color: #f8f8f8;
	font-family: sans-serif;
	border-right: 1px solid #ccc;
	height: 760px;
	padding: 20px;
	float: left;
}
/**
#main_nav h2 {
	background-color: #ef4b64;
	color: white;
	font-size: 16px;
	padding: 12px;
	margin-bottom: 15px;
}
*/
#main_nav h2 a {
  background-color: #ef4b64;
  color: white;
  font-size: 16px;
  padding: 12px;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
}

.menu-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-list li {
	margin: 6px 0;
}

.menu-list li.section-title {
	font-weight: bold;
	margin-top: 15px;
	color: #222;
}

.menu-list li a {
	color: #444;
	text-decoration: none;
	padding-left: 10px;
	display: block;
	font-size: 14px;
}

.menu-list li a:hover {
	color: #ef4b64;
}